* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    margin: 20px;
}

#container {
    display: flex;
    justify-content: center;
}

#calculator {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 3px;
    width: 300px;
    height: 400px;
}

#display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: #b2b9b7;
    padding: 5px;
    font-size: 50px;
    margin: 3px;
 
}

#keys {
    display: flex;
    flex-grow: 1;
}

#left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.miscs {
    display: flex;
    flex-grow: 0.25; 
    
}

.numbers {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#\0030 {
    flex-grow: 1;
}

#\002E {
    flex-grow: 0.44;
}

.operators {
    display: flex;
    flex-direction: column;
    flex-grow: 0.33;
} 

.group {
    display: flex;
    flex-grow: 1;
}

button {
    flex-grow: 1;
    font-size: 20px;
    border-radius: 5%;
    background-color: #217C7E;
}

button.ops {
    background-color: #FF8F1F;
}

button.misc {
    background-color: dodgerblue;
}